#ora-xblock-view {
  max-width: 1024px;
  @media (--pgn-size-breakpoint-max-width-md) {
    padding-left: 40px;
    padding-right: 40px;
  }

  .rubric-card {
    width: 100% !important;
    margin-left: 0;
  }
}
