.assessment-content-layout {
  & > div.content-body {
    height: 100%;
    .row {
      height: 100%;
    }
  }
  width: fit-content;
  margin: auto;
  height: 100%;

  .content-wrapper {
    max-width: var(--pgn-size-container-max-width-lg);
  }
}

.ora-tinymce .tox-tinymce {
  background-color: var(--pgn-color-white);
}

@media (--pgn-size-breakpoint-max-width-sm) {
  .assessment-content-layout {
    .content-wrapper {
      width: 100%;
    }
  }
}

