.ora-modal-body {
  min-height: calc(100vh - 20px - 64px - calc(var(--pgn-spacing-spacer-2) * 8));
  height: 100%;
}

.exam-timer {
  max-width: var(--pgn-size-container-max-width-lg);
  margin: auto;
  button {
    display: none;
  }
}
