.grade-view-body {
  max-width: var(--pgn-size-container-max-width-lg);
  flex-wrap: nowrap !important;
  gap: 1em;
}

@media (--pgn-size-breakpoint-max-width-md) {
  .grade-view-body {
    flex-wrap: wrap !important;
    gap: 0;
  }
}
