@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@edx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";

#root {
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}
