@use "@openedx/paragon/styles/css/core/custom-media-breakpoints" as paragonCustomMediaBreakpoints;


#root {
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.spinner-md {
  height: 100px;
  width: 100px;
}

.gap-0 {
  gap: var(--pgn-spacing-spacer-0);
}

.gap-1 {
  gap: var(--pgn-spacing-spacer-1);
}

.gap-2 {
  gap: var(--pgn-spacing-spacer-2);
}

.gap-3 {
  gap: var(--pgn-spacing-spacer-3);
}

.gap-4 {
  gap: var(--pgn-spacing-spacer-4);
} 
.ora-icon svg {
  display: inline-block !important;
}

.app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  scale: 3;
}
